body{
    background-color: lightgray;
}
h2{
    color: darkred;
}
div{
    border: 2px solid black;
    padding:10px;
}
button{

    background-color:black;
    color: white;
    cursor:pointer;
    margin-top: 10px;
}